* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}



.btn-box {
    display: none !important;
    gap: 1rem;
}

.nav-bar-list ul {
    display: none !important;
}

.card-service-1 {
    background: url(image/b0abff1d-a3f9-49a7-9d58-273bbc735561.jpg);
    height: 300px;
    background-size: contain;
}

.card-service-1 button {
    filter: none;
}

.headear-alignment {
    display: flex;
    justify-content: space-evenly;
    /* background-color: lightgray; */
    align-items: baseline;

}


.d-block {
    position: relative;
    right: 220px;
}

nav {
    border-bottom: 1px solid lightgray;
}

.nav-bar-list>ul {
    gap: 10px;
    display: flex;
    align-items: center;


}

.nav-bar-list>ul>li {
    list-style-type: none;

}

.nav-bar-list>ul>li>a {
    text-decoration: none;
    color: #0d6db7;
    font-size: 1rem;

}


.nav-bar-list>ul>li>a:hover {

    text-decoration: underline 3px #8dc63f;
}

.btn-contanier>button {
    padding: 0.2em 0.2em;
    transition: transform 0.30s;
    margin-left: 20px;
}

.top-5 {
    top: 10px;
}

.banner-img {
    display: none !important;
}

.text-green {
    color: #8dc63f !important;
}

.bg-green {
    background-color: #f0fcdb !important;
}

.bg-green-dark {
    background-color: #8dc63f !important;
}

.bg-grey {
    background-color: #424242;
}


.btn-contanier>button:hover {
    transform: scale(1.1, 1.1);

}


.section-alignment {
    width: 100%;

}

.head-content {
    width: 40%;
    position: relative;

}

.saylani-section-img>img {
    width: 70%;
    position: relative;
    left: 50px;
}



.saylani-section {
    display: flex;
    position: relative;
    left: 40px;

}


.saylani-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


@media screen and (min-width:600px) {
    .nav-bar-list ul {
        display: flex !important;
    }

    .btn-box {
        display: flex !important;
    }

    .banner-img {
        display: block !important;
    }
    .menu {
        display: none;
    }
}
@media screen and (min-width:320px) {
    .banner-img {
        display: block !important;
    }
      
    }



  